* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: rgb(231, 249, 218);
    overflow-y: scroll;
    font-family: Trebuchet MS, sans-serif; margin:0;
    font-size: 110%;
    line-height: 140%;
  }

  .header {
    background-color: rgb(231, 249, 218);
    text-align: center;
    padding: 2%;
  }
  
  /*Topnav bar*/
  .topnav {
    overflow: hidden;
    background-color: #2d5729;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /*Skifter farge på hover*/
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .image-container img {
    height: 74vh; /* Sett høyden til 40% av skjermens høyde */
    width: 100%; /* Behold full bredde for bildet */
    object-fit: cover; /* Sørger for at bildet fyller området uten å forvrenge det */
  }
  
  .Overskrift{
    text-align: center;
  }

  .column {
    padding: 1%;
    font-size: 110%;
  }

  .column.middle {
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
  }

  .column.side {
    width: 49%;
  }
