* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: rgb(231, 249, 218);
    overflow-y: scroll;
    font-family: Trebuchet MS, sans-serif; margin:0;
    font-size: 120%;
    line-height: 140%;
  }

  .header {
    background-color: rgb(231, 249, 218);
    text-align: center;
    padding: 2%;
  }
  
  /*Topnav bar*/
  .topnav {
    overflow: hidden;
    background-color: #2d5729;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /*Skifter farge på hover*/
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .image-container img {
    height: 74vh; /* Setter høyden til 40% av skjermens høyde */
    width: 100%; /* Beholder full bredde for bildet */
    object-fit: cover; /* Sørger for at bildet fyller området uten å forvrenge det */
  }
  
  .Overskrift{
    text-align: center;
  }

  .column {
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
  }

  .column.middle {
    float: left;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    width: 60%;
  }

  .column.side {
    float: right;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    width: 40%;
  }

  /*table for logg*/
  table {
    width: 100%;
    border-collapse: collapse;
  }

  /*Table data cells, boksene i tabellen*/
  td {
    table-layout: auto;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    word-wrap: break-word; /* Ensure text wraps within the cell */
  }

  .myChart {
    width: 30%;
  }

  canvas {
    width: 400px;  /* Angir bredde på diagrammet */
    height: 400px; /* Angir høyde på diagrammet */
  }