* {
    box-sizing: border-box;
  }
  
  body{
    height: 100%;
    margin: 0;
    background-image:url("../Bilder/photo-1535448033526-c0e85c9e6968.jpg");
    background-repeat:no-repeat;
    background-size: cover;
  }

  .header {
    background-color: #ffffff;
    text-align: center;
    padding:20px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #005eb8;
  }
  
  /* Style the topnav links */
  .topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
  background-color: #ddd;
  color: black;
  }

  div.background {
    border: 2px solid black;
  }
  
  div.transbox {
    float: right;
    margin: 30px;
    background-color: #ffffff;
    border: 2px solid rgb(0, 0, 0);
    opacity: 0.6;
  }

  div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
  }

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}